:root{
    --color-primary:#575FCF;
    --color-secondary: #0BE881;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-primary);
}

.container{
    width: 90%;
    margin: 0 auto;
}


/*** estilo do header ***/

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -5px;
    width: 90%;
    height: auto;
    
    
}


#top .header-avatar {
    width: 160px;
    height: 160px;
    background-color: #0BE881;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: 30px;
    padding: 3px;
}

#top .header-avatar .avatar-img {
    background: url(../assets/images/avatar.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
}


.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;

}

.header-content p{
    margin-top: 30px;
    
}

.divisor-line{
    width: 120px;
    height: 3px;
    background-color: #0BE881;
    margin-top: 30px;

}

main{
    width: 100%;
    height: 800px;
    background: white;
    border-radius: 20px 20px 0 0;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.social{
    
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-top: 20px;
 
}

.social a{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-primary);
    margin: 5px;
    border-radius: 10px;
    border-radius: 50%;

    
}

.social a i{
    color: #575FCF;
    margin: 8px;
}

.social a:hover{
    background-color: #0BE881;
    border: 1px solid var(--color-secondary);

}

.social a i:hover{
    color: white;
}

.menu-principal{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 420px;
    align-items: center;
    
}

.menu-principal a{
    color: #575FCF;
    text-decoration: none;
}

.divisor-menu{
    width: 2px;
    height: 20px;
    background-color: #575FCF;
}


.about{
  margin-top : 30px;
  
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .container .about-header .divisor-line {

    margin-bottom: 20px;
}


 
.banner{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background: url(../assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
}



@media screen and (min-width:700px) {
    

    main .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-principal {
        width: 70%;
        padding-top: 370px;
    }
}


@media screen and (min-width:1200px) {

    #top{
        position: static;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        width: 100%;
    }

    #top .header-avatar{
        width: 300px;
        height: 300px;
    }

    #top .header-content {
        max-width: 600px;
    }
      
    

    .social a{
        
        border: 1px solid white;        
        
    }
    
    .social a i{
        color: white;
    }
    
    .social a:hover{
        background-color: #0BE881;
        border: 1px solid var(--color-secondary);
    
    }
    

    .header-content h1{
        font-size: 60px;
        color: white;
        margin-bottom: 5px;
    }

    .header-content p{
        margin-top: 20px;
        color: white;
    }

    .menu-principal {
        width: 40%;
        padding-top: 30px;
    }

    .menu-principal a{
        font-size: 22px ;
    }



    main {
        margin-top: 0;
        border-radius: 50px 50px 0 0; 
    }

    main .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    main .container .divisor-line{

        margin-top: 20px;
        width: 40%;
        
    }

    .about .container{
        align-items: flex-start;
    }


    .about-header{
        align-items: flex-start;
    }


    .banner{

    height: 600px;
    border-radius: 20px 20px 0 0 ;

    }

    

}
