:root{
    --color-primary:#575FCF;
    --color-secondary: #0BE881;

    --gray-dark:#1e272e;
    --gray-darker :#485460;

    --gray-ligth:#d2dae2;
    --gray-primary:#808e9b;

    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary);
}

.clear{
    clear: both;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
    
}


/*** estilo do header ***/

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -5px;
    width: 90%;
    height: auto;
    
    
}


#top .header-avatar {
    width: 160px;
    height: 160px;
    background-color: #0BE881;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: 30px;
    padding: 3px;
}

#top .header-avatar .avatar-img {
    background: url(../assets/images/avatar.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
}


.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;

}

.header-content p{
    margin-top: 30px;
    
}

.divisor-line{
    width: 120px;
    height: 3px;
    background-color: #0BE881;
    margin-top: 30px;

}

main{
    width: 100%;       
    background: white;
    border-radius: 20px 20px 0 0;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.social{
    
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-top: 20px;
 
}

.social a{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-primary);
    margin: 5px;
    border-radius: 10px;
    border-radius: 50%;

    
}

.social a i{
    color: #575FCF;
    margin: 8px;
}

.social a:hover{
    background-color: #0BE881;
    border: 1px solid var(--color-secondary);

}

.social a i:hover{
    color: white;
}

.menu-principal{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 420px;
    align-items: center;
    
}

.menu-principal a{
    color: #575FCF;
    text-decoration: none;
}

.divisor-menu{
    width: 2px;
    height: 20px;
    background-color: #575FCF;
}

.banner{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background: url(../assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
}

.about,
.career{

    margin-top : 30px;
  
}

.about .container,
.career .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 990px;
}


.about-header,
.career-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header h1,
.career-header h1{
    color: var(--gray-dark);
}

.about .container .about-header .divisor-line {

    margin-bottom: 20px;
}


.about-content,
.career-content{
    display: flex;
    flex-direction:column;
    justify-content: center;
}


.about-text{
    
    margin-bottom: 40px;
}

.about-content p{
    text-align: center;
    margin-top: 10px;
    color: var(--gray-darker);
}

.about-video {
    max-width: 500px;
    width: 100%;
    height: 280px;      
    margin: auto;
}

.career-content{
    margin-top: 30px;
}

.career-content .content-img{
    width: 100%px;
    height: 800px;
    background: url(../assets/images/career-cover.jpg);
    background-size: cover;
    background-position: center;
}

.career-content .content-resume {
    margin-top: 30px;
}

.career-content .content-resume p{

    text-align: center;
    margin-top: 20px;
    color: var(--gray-darker);

}

.career-video{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    margin-bottom: 200px;
    
}



footer {
    width: 100%;
    height: 400px;
    background-color: var(--color-primary);
    border-radius: 50px ;
    margin-top: -50px;

}


@media screen and (min-width:500px){
    .career-video{
        height: 300px;
    }
}





@media screen and (min-width:700px) {
    

    main .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-principal {
        width: 70%;
        padding-top: 370px;
    }

    .career-video{
        height: 400px;
    }
}

@media screen and (min-width:1000px){
    .career-video{
        height: 550px;
    }
}


@media screen and (min-width:1200px) {

    #top{
        position: static;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        width: 100%;
    }

    #top .header-avatar{
        width: 300px;
        height: 300px;
    }

    #top .header-content {
        max-width: 600px;
    }
      
    

    .social a{
        
        border: 1px solid var(--gray-ligth);        
        
    }
    
    .social a i{
        color: var(--gray-ligth);

    }
    
    .social a:hover{
        background-color: #0BE881;
        border: 1px solid var(--color-secondary);
    
    }
    

    .header-content h1{
        font-size: 60px;
        color: var(--gray-ligth);
        margin-bottom: 5px;
    }

    .header-content p{
        margin-top: 20px;
        color: var(--gray-ligth);
        
    }

    .menu-principal {
        width: 40%;
        padding-top: 30px;
    }

    .menu-principal a{
        font-size: 22px ;
    }



    main {
        margin-top: 0;
        border-radius: 50px 50px 0 0; 
    }

    main .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    main .container .divisor-line{

        margin-top: 20px;
        width: 40%;
        
    }

    .about .container,
    .career .container{
        align-items: flex-start;        
        
    }


    .about-header,
    .career-header{
        align-items: flex-start;
    }

    .about-header h1,
    .career-header h1 {
        font-size: 40px;
        margin-top: 20px;
    }


    main .banner{

    width: 100%;    
    height: 800px;
    border-radius: 20px 20px 0 0 ;
    

    }


    
    .about-content {
        flex-direction: row;
        justify-content: space-around;
    }

    .about-text {
        padding: 0 20px 0 0;
        max-width: 500px;
        
    }

    .about-text p {

        text-align: justify;
        font-size:15px;

    }

    .about-video {
        width: 600px;
        height: 276px;
    }
    
    .career-content{
        flex-direction: row;
    }
    
    .career-content .content-img{
        flex: 1;
    }

    .career-content .content-resume{
        flex: 2;
        margin: 0;
        padding: 0 20px;
        justify-content: space-around;
        align-items: center;
    }

    .career-content .content-resume p{
     
        margin-top: 0;
        margin-bottom:10px;
        font-size: 16px;

    }

    .career-video{
        height: 600px;
    }

}



@media screen and (min-width:1500px) {

    main .banner{
        height: 1000px;
    }

}


@media screen and (max-width:335px) {

    .menu-principal{
        
        padding-top:460px ;

    }

}